/* --- Error --- */
/* --- Essential Color --- */
/* --- Basic Color --- */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=Work+Sans&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------- */
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.pojectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 8em;
  margin-bottom: 4em;
}

.modifier {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.modal::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.galeryPictures {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 8% auto;
  padding: 26px 30px 0 30px;
  border-radius: 16px;
  width: 630px;
  height: 688px;
  position: relative;
  z-index: 2;
}

.headerBtn {
  display: flex;
  justify-content: space-between;
}
.headerBtn .backIcon {
  font-size: 24px;
  cursor: pointer;
}

.closeIcon {
  text-align: end;
  font-size: 24px;
  cursor: pointer;
}

.galeryTitle {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 52px;
}

.galeryAllPictures {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  row-gap: 2em;
  padding: 0px 68px;
  overflow: auto;
  min-height: 28em;
}
.galeryAllPictures::-webkit-scrollbar {
  width: 10px;
}
.galeryAllPictures::-webkit-scrollbar-thumb {
  background-color: #1D6154;
  border-radius: 5px;
}
.galeryAllPictures::-webkit-scrollbar-track {
  background-color: rgba(29, 97, 84, 0.35);
  border-radius: 5px;
}
.galeryAllPictures figure img {
  width: 6em;
}

.separator {
  height: 1px;
  width: 34em;
  margin: 60px auto 0 auto;
  background-color: #B3B3B3;
}

.btnAddPicture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  font-size: 1.2em;
  border: none;
  font-family: "Syne";
  font-weight: 700;
  color: #fff;
  background-color: #1D6154;
  margin: 2em auto;
  width: 237px;
  border-radius: 60px;
  cursor: pointer;
}

.disabledInput {
  background-color: #A7A7A7;
  cursor: not-allowed;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
}

.trash {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #000;
  color: #fff;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.trash i {
  font-size: 18px;
}

.uploadModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 0px 77px;
}
.uploadModal .uploadPicture {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8F1F6;
  border-radius: 3px;
  padding: 19px 0px;
}
.uploadModal .uploadPicture .btnUpload {
  position: relative;
  display: inline-block;
}
.uploadModal .uploadPicture .btnUpload input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.uploadModal .uploadPicture .btnUploadLabel {
  display: inline-block;
  color: #306685;
  border-radius: 20px;
  text-align: center;
  padding: 10px 33px;
  background-color: #CBD6DC;
  cursor: pointer;
}
.uploadModal .uploadPicture .btnUploadLabel:hover {
  background-color: #c4d0d6;
}
.uploadModal .uploadPicture .btnUploadText {
  padding-top: 7px;
}
.uploadModal #nameAddPicture, .uploadModal #nbrCategoryAddPicture {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 0px 0px 12px;
}

/* -- displayNone -- */
.revealUploadPicture {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #E8F1F6;
  border-radius: 3px;
}
.revealUploadPicture img {
  height: 11em;
}

#error {
  display: flex;
  justify-content: center;
}

.errorPassword {
  visibility: hidden;
  display: flex;
  align-items: center;
  width: fit-content;
  color: #D13415;
  font-size: 16px;
  gap: 8px;
}
.errorPassword .fa-triangle-exclamation {
  color: #D13415;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 51px;
}
.filter .filter_button {
  border-radius: 60px;
  border: 1px solid #1D6154;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #1D6154;
  font-family: "Syne", sans-serif;
  cursor: pointer;
}
.filter .activeFilter {
  background-color: #1D6154;
  color: #fff;
}
.filter .filter_button:hover {
  background-color: #1D6154;
  color: #fff;
}

footer {
  background-color: #fff;
  width: 100%;
  margin-top: auto;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover {
  color: #B1663C;
}

a {
  text-decoration: none;
  color: inherit;
}

.instaImg {
  height: 20px;
  width: 20px;
}

.banner {
  background-color: #000;
  height: 59px;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.banner i {
  color: #fff;
}
.banner p {
  color: #fff;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 0px 0px 12px;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 12px 12px 0px 12px;
}

#contact > * {
  text-align: center;
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: #fff;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.disconnected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.disconnected i {
  font-size: 26px;
  color: #1D6154;
}

#login {
  width: 30em;
  margin: auto;
  margin-top: 5em;
}
#login form {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#login input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 12px 0px 12px;
  cursor: pointer;
}
#login label {
  margin: 2em 0 1em 0;
}

#forgotPassword {
  text-decoration: underline;
  text-align: center;
  margin: 32%;
}

#login > * {
  text-align: center;
}