/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------------------- */
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #FFFEF8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

.pojectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 31px;
  margin-top: 8em;
  margin-bottom: 4em;
}

.modifier {
  display: flex;
  gap: 12px;
  cursor: pointer;
}

#error {
  display: flex;
  justify-content: center;
  margin: 4% auto;
}

.errorPassword {
  visibility: hidden;
  display: flex;
  align-items: center;
  padding: 22px;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFF8F7;
  color: #D13415;
  border: 1px solid #F5A898;
  border-radius: 14px;
  font-size: 16px;
  gap: 8px;
}
.errorPassword .fa-xmark {
  color: #D13415;
}

.filter {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 51px;
}
.filter .filter_button {
  border-radius: 60px;
  border: 1px solid #1D6154;
  padding: 9px 12px;
  font-size: 16px;
  font-weight: 700;
  color: #1D6154;
  font-family: "Syne", sans-serif;
  cursor: pointer;
}
.filter .filter_button:hover {
  background-color: #1D6154;
  color: #fff;
}

footer {
  background-color: #FFFFFF;
  width: 100%;
  margin-top: auto;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover {
  color: #B1663C;
}

a {
  text-decoration: none;
  color: inherit;
}

.instaImg {
  height: 20px;
  width: 20px;
}

.banner {
  background-color: #000;
  height: 59px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.banner i {
  color: #fff;
}
.banner p {
  color: #fff;
}

#contact {
  width: 50%;
  margin: auto;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 0px 0px 12px;
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 12px 12px 0px 12px;
}

#contact > * {
  text-align: center;
}

input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}

#introduction {
  display: flex;
  align-items: center;
}

#introduction figure {
  flex: 1;
}

#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}

#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

.disconnected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.disconnected i {
  font-size: 26px;
  color: #1D6154;
}

#login {
  width: 30em;
  margin: auto;
  margin-top: 5em;
}
#login form {
  text-align: left;
  display: flex;
  flex-direction: column;
}
#login input {
  height: 51px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 0px 12px 0px 12px;
  cursor: pointer;
}
#login label {
  margin: 2em 0 1em 0;
}

#forgotPassword {
  text-decoration: underline;
  text-align: center;
  margin: 32%;
}

#login > * {
  text-align: center;
}