.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;

  .filter_button {
    border-radius: 60px;
    border: 1px solid #1D6154;
    padding: 9px 12px;
    font-size: 16px;
    font-weight: 700;
    color: #1D6154;
    font-family: "Syne", sans-serif;
    cursor: pointer;
  }
  
  .filter_button:hover {
    background-color: #1D6154;
    color: #fff;
  }
}