.filter {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-bottom: 51px;

  .filter_button {
    border-radius: 60px;
    border: 1px solid $primary-color;
    padding: 9px 12px;
    font-size: 16px;
    font-weight: 700;
    color: $primary-color;
    font-family: $font-family-Syne, sans-serif;
    cursor: pointer;
  }

  .activeFilter {
    background-color: $primary-color;
    color: $white-color;
  }
  
  .filter_button:hover {
    background-color: $primary-color;
    color: $white-color;
  }
}