.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black-color;
    opacity: 0.5;
  }
}

.galeryPictures {
  @include flex-column;
  background-color: $white-color;
  margin: 8% auto;
  padding: 26px 30px 0 30px;
  border-radius: 16px;
  width: 630px;
  height: 688px;
  position: relative;
  z-index: 2;
}

.headerBtn {
  display: flex;
  justify-content: space-between;

  .backIcon {
    font-size: 24px;
    cursor: pointer;
  }
}

.closeIcon {
  text-align: end;
  font-size: 24px;
  cursor: pointer;
}

.galeryTitle {
  font-size: 26px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 52px;
}

.galeryAllPictures {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  row-gap: 2em;
  padding: 0px 68px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 5px;
  }
  
  &::-webkit-scrollbar-track {
    background-color: rgb(29 97 84 / 35%);
    border-radius: 5px;
  }

  figure {

    img {
      width: 6em;
    }

  }
}

.separator {
  height: 1px;
  width: 34em;
  margin: 60px auto 0 auto;
  background-color: $seperator-color;
}

.btnAddPicture {
	@include flex-center;
  height: 36px;
  font-size: 1.2em;
  border: none;
  font-family: $font-family-Syne;
  font-weight: 700;
  color: $white-color;
  background-color: $primary-color;
  margin : 2em auto ;
  width: 237px;
  border-radius: 60px ;
  cursor: pointer;
}

.disabledInput {
  background-color: $disabled-color;
  cursor: not-allowed;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
}

.trash {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $black-color;
  color: $white-color;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}

.trash i {
  font-size: 18px;
}

.uploadModal {
	@include flex-column;
  justify-content: center;
  gap: 12px;
  padding: 0px 77px;

  .uploadPicture {
    @include flex-column;
    align-items: center;
    background-color: #E8F1F6;
    border-radius: 3px;
    padding: 19px 0px;

    .btnUpload {
      position: relative;
      display: inline-block;
    }
    
    .btnUpload input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
    
    .btnUploadLabel {
      display: inline-block;
      color: #306685;
      border-radius: 20px;
      text-align: center;
      padding: 10px 33px;
      background-color: #CBD6DC;
      cursor: pointer;
    }
    
    .btnUploadLabel:hover {
      background-color: #c4d0d6;
    }

    .btnUploadText {
      padding-top: 7px;
    }

  }

  #nameAddPicture, #nbrCategoryAddPicture {
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0px 0px 0px 12px;
  }
}


/* -- displayNone -- */

.revealUploadPicture {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #E8F1F6;
  border-radius: 3px;

  img {
    height: 11em;
  }
}