
/* --- Error --- */
$error_color: #D13415;
$error_border-color: #F5A898;
$error_background-color: #FFF8F7;


/* --- Essential Color --- */
$disabled-color: #A7A7A7;
$seperator-color: #B3B3B3;
$primary-color: #1D6154;
$secondary-color: #B1663C;
$background-color: #FFFEF8;


/* --- Basic Color --- */
$white-color: #fff;
$black-color: #000;
